/* Footer bar */
.footer {
    width: 100vw;
    max-width: 100vw;
    background-color: var(--titlebar);
    color: var(--text-inactive);
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000;
    flex-shrink: 0;
    margin-top: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.footer a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 0;
}
