/* Base Color Palette and Global Styles */
:root {
    --background: #120f1a;
    --surface: #1a1426;
    --surface-light: #241c33;
    --titlebar: #060408;
    --border: #3a2f52;
    --accent: #9b69ff;
    --text: #e6e1f0;
    --text-inactive: #928ba1;
    --button-bg: #2a2040;
    --button-hover: #3a2b5c;
    --button-inactive: #1a1426;
}

html{
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 30px;
}

.content {
    flex: 1; /*Push footer to bottom*/
    margin: 20px;
    min-height: 0;
    overflow: visible;
    align-items: center;
}
